*{margin: 0; padding: 0; box-sizing: border-box;}
.grid-js {
	padding: 50px;
}
/* NivoSlider */
.nivoslider {
	margin-bottom: 50px;
}
.main-wrap {
	width: 100%;
}

.slider-bg {
	background: #232123;
}
#slider-wrapper {
	border-right: 1px solid #fff;
	border-left:  1px solid #fff;
}

/***************************
	Start Skills section
***************************/
.skills {
	background: #383838;
	padding-bottom: 50px;
}
.f-content {
	padding: 50px 0;
	color: #ddd;
}
/* svg */
svg.radial-progress {
	max-width: 200px;
	height: auto;
	padding: 1em;
	transform: rotate(-90deg);
	width: 100%;
}
svg.radial-progress circle {
	fill: transparent;
	stroke: #01A89E;
	stroke-dashoffset: 219.91148575129; 
}

svg.radial-progress circle.incomplete { 
	opacity: 0.25;
}

svg.radial-progress circle.complete { stroke-dasharray: 219.91148575129; }

svg.radial-progress text {
	fill: #fff;
	text-anchor: middle;
}
.svg-item {
	text-align: center;
}
.svg-item  h3 {
	width: 100%;
	height: auto;
	font-size: 16px;
	font-weight: 600;
	text-transform: uppercase;
	color: #8A8A8A;
}	
		
svg.radial-progress circle {
	stroke-width: 2;
}
	
svg.radial-progress text {
	fill: #E3E3E3;
	font-size: 18px;
}
svg  circle {
	stroke: #30bae7;
}

	/* svg end */

/* Testimonial start */
.testimonial {
	background: url(../images/t-bg.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top center;
	/* margin-bottom: 200px; */
}
.testimonial .t-content {
	/* margin: 80px 0; */
}
.testimonial h2 {
	color: #000;
	text-align: center;
	margin: 80px 0;
}
.testimonial .item img {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	margin: 40px auto;
}
.owl-carousel button:focus {
	outline: 0;
	box-shadow: none;
}
/***************************
	Start Counter section
***************************/
.project_counter {
	background: #F3F4FF;
	min-height: 300px;
	margin-top: 20px;
}
.inner {
	padding: 100px 0;
	text-align: center;
}
.inner h1 {
	font-weight: 700;
	font-size: 40px;
	color: #444444;
}
.inner .line {
	width: 40px;
	height: 2px;
	background: #51a351;
	margin: 10px auto;
}
.inner h5 {
	font-size: 18px;
	font-style: italic;
}
/* Gallary */
.view {
	background: #E9ECEF;
}
