*{margin: 0; padding: 0; box-sizing: border-box;}
section {
	padding: 50px;
}
/* Gallary */
.view {
	background: #E9ECEF;
}
/* Animated- Text */
#bodycolor input:focus {
	outline: 0;
	box-shadow: none;
}
#keyinput {
    height: 40px;
    padding: 0.5em;
    border: 1px solid #cccccc;
    border-radius: 3px;
}

#block {
    padding: 1em 0;
    color: #616161;
    font-family: Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif;
}

#name {
	color: #9d0521;
}
/* Clock */
#body{
    background-color:grey;
}

#test{
    text-align:center;
    font-family:serif;
    color: red;
    letter-spacing:2px;
    font-size:70px;
    text-shadow:5px 3px 25px white;
    padding:5px;
    border:2px lightskyblue;
    border-radius:30px;
}


#text{
    text-align:center;
    color:white;
    letter-spacing:3px;
}
#text2{
    margin-top:10%;
    text-align:center;
    font-family:Arial;
    color: white;
    letter-spacing:3px;
    word-spacing:4px;
    text-shadow:5px 3px 20px lightskyblue;
    
}
#b1{
    text-align:center;
    font-weight:bold;
}
#ttt{
    color: white;
    text-align:center;
    padding:5px;
    border:2px lightskyblue;
    font-family:serif;
    border-radius:30px;
}
#all{
    padding:5px;
    border:5px solid lightskyblue;
    font-family:serif;
    border-radius:30px;
}
/* Grid */
.grid-js {
	padding: 50px;
}
/* NivoSlider */
.nivoslider {
	margin-bottom: 50px;
}
.main-wrap {
	width: 100%;
}

.slider-bg {
	background: #232123;
}
#slider-wrapper {
	border-right: 1px solid #fff;
	border-left:  1px solid #fff;
}

/***************************
	Start Skills section
***************************/
.skills {
	background: #383838;
	padding-bottom: 50px;
}
.f-content {
	padding: 50px 0;
	color: #ddd;
}
/* svg */
svg.radial-progress {
	max-width: 200px;
	height: auto;
	padding: 1em;
	transform: rotate(-90deg);
	width: 100%;
}
svg.radial-progress circle {
	fill: transparent;
	stroke: #01A89E;
	stroke-dashoffset: 219.91148575129; 
}

svg.radial-progress circle.incomplete { 
	opacity: 0.25;
}

svg.radial-progress circle.complete { stroke-dasharray: 219.91148575129; }

svg.radial-progress text {
	fill: #fff;
	text-anchor: middle;
}
.svg-item {
	text-align: center;
}
.svg-item  h3 {
	width: 100%;
	height: auto;
	font-size: 16px;
	font-weight: 600;
	text-transform: uppercase;
	color: #8A8A8A;
}	
		
svg.radial-progress circle {
	stroke-width: 2;
}
	
svg.radial-progress text {
	fill: #E3E3E3;
	font-size: 18px;
}
svg  circle {
	stroke: #30bae7;
}

	/* svg end */

/* Testimonial start */
.testimonial {
	background: url(../images/t-bg.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top center;
	/* margin-bottom: 200px; */
}
.testimonial .t-content {
	/* margin: 80px 0; */
}
.testimonial h2 {
	color: #000;
	text-align: center;
	margin: 80px 0;
}
.testimonial .item img {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	margin: 40px auto;
}
.owl-carousel button:focus {
	outline: 0;
	box-shadow: none;
}
/***************************
	Start Counter section
***************************/
.project_counter {
	background: #F3F4FF;
	min-height: 300px;
	margin-top: 20px;
}
.inner {
	padding: 100px 0;
	text-align: center;
}
.inner h1 {
	font-weight: 700;
	font-size: 40px;
	color: #444444;
}
.inner .line {
	width: 40px;
	height: 2px;
	background: #51a351;
	margin: 10px auto;
}
.inner h5 {
	font-size: 18px;
	font-style: italic;
}
/* like dislike */
#para {
font-size:30px;
}
.btns {
padding:10px;
font-size:30px;
background-color:tomato;
color:white;
border:1px solid;
}
.btns:focus {
	outline: 0;
	box-shadow: none;
}
